<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <div class="logo-wrapper">
                <img src="/images/logo.png" alt="Logo" class="logo-image" />
                <span class="logo-text">TECHWORKS - Data & Kommunikation </span>
            </div>
        </a>

        <ul class="navbar-menu">
            <li><a href="/">Hjem</a></li>
            <li><a href="/pchjaelp">PC-Hjælpen</a></li>
            <li><a href="/om-os">Om os</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
</nav>
