<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">SKP-DATA</a>

        <ul class="navbar-menu">
            <li><a href="/">Hjem</a></li>
            <li><a href="/om-os">Om os</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
</nav>
