<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <div class="logo-wrapper">
                <img src="/images/logo.png" alt="Logo" class="logo-image" />
                <span class="logo-text">SKP - Data & Kommunikation </span>
            </div>
        </a>

        <ul class="navbar-menu">
            <li><a href="#Hjem">Hjem</a></li>
            <li><a href="#PC-Hjælpen">PC-Hjælpen</a></li>
            <li><a href="#Om-os">Om os</a></li>
            <li><a href="#Kontakt">Kontakt</a></li>
        </ul>
    </div>
</nav>
