@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "/Views/Shared/_LayoutMain.cshtml";
}




<section class="welcome-section">
    <h1>@Model.Value("welcomeTitle")</h1>
    <p>@Model.Value("welcomeText")</p>

    @{
        var image = Model.Value<IPublishedContent>("image");
    }

    @if (image != null)
    {
        <img src="@image.Url()" alt="@image.Name" />
    }
</section>
