body {
  font-family: "Segoe UI", sans-serif;
  background-color: rgb(226, 224, 224);
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
}

.pchelp-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
  min-height: 35vh;
  text-align: center;
}

.service-icon {
  width: 24px; /* Indstil størrelsen på ikonet */
  height: 24px; /* Indstil størrelsen på ikonet */
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.services-header {
  font-weight: 400;
}

.pchelp-hero-content {
  z-index: 2;
  max-width: 800px;
}

.pchelp-hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.pchelp-hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.pch-services {
  padding: 3rem 0;
  background-color: #f4f4f4f4;
  text-align: center;
}

.service-box h3 {
  display: flex;
  align-items: center; /* Vertikal centering af ikon og titel */
  gap: 10px; /* Justér afstanden mellem ikon og tekst */
}

.service-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  width: 280px;
  transition: transform 0.3s ease-in-out;
}

.service-box:hover {
  transform: translateY(-5px);
}

.service-box i {
  font-size: 3rem;
  color: #007bff;
  margin-bottom: 1rem;
}

.service-box h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.service-box p {
  color: #777;
}
